body {
    background: rgb(32, 207, 17);
    text-align: center;
}
.heder h1{
 padding: 1px 1px;
 background-color: #07d807d3;
}
p{
    margin: 1px;
}
.tasks a {
width:1px; ;
width: 1x; ;
}

a:hower{
    coir:rgba(10, 212, 212, 0.349)
}

li:hawer{
    tramsform:scale
}









